@model TeamTrackProject.Models.Dominio.Progetto

    <div class="card-body">
        <h5 class="card-title">Dettagli del Progetto</h5>

        <p><strong>Nome del Progetto:</strong> @Model.Nome</p>
        <p><strong>Codice di Accesso:</strong> @Model.CodiceAccesso</p>
        <p><strong>Password:</strong> @Model.Password</p>
        <p><strong>Data Inizio:</strong> @Model.DataInizioProgetto.ToString("dd/MM/yyyy HH:mm:ss")</p>
        <p><strong>Data Fine prevista:</strong> @Model.DataFineProgetto.ToString("dd/MM/yyyy HH:mm:ss")</p>


       
    </div>

