@model IEnumerable<TeamTrack.Dominio.Progetto>

    @{
    ViewData["Title"] = "Progetti";
    }

    <h1>Lista dei Progetti</h1>

    @if (User.IsInRole("Admin"))
{
    <a asp-action="Crea" class="btn btn-primary">Crea Nuovo Progetto</a>
}

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data Inizio</th>
                <th>Data Fine</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var progetto in Model)
        {
            <tr>
                <td>@progetto.Nome</td>
                <td>@progetto.DataInizio.ToShortDateString()</td>
                <td>@progetto.DataFine.ToShortDateString()</td>
                <td>
                    <a asp-action="Dettagli" asp-route-id="@progetto.Id" class="btn btn-info">Dettagli</a>

                    @if (User.IsInRole("Admin"))
                    {
                    <a asp-action="Modifica" asp-route-id="@progetto.Id" class="btn btn-warning">Modifica</a>
                    <a asp-action="Elimina" asp-route-id="@progetto.Id" class="btn btn-danger"
                       onclick="return confirm('Sei sicuro di voler eliminare questo progetto?');">
                        Elimina
                    </a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
